<footer class="g-body-footer">
    <div class="g-body-footer-icp">
        <div class="container">
            <div class="row text-center">
                <span class="sub-content visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">© 2019-现在 版权所有</span>
                |
                <img src="/img/beian.png">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=0001">浙公网安备 0001</a>
                |
                <a target="_blank" href="http://www.beian.miit.gov.cn">浙ICP备0001</a>
            </div>
        </div>
    </div>
</footer>