<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Keywords" content="website-creater,gulp,静态网页生成器" />
<meta name="Description" content="基于gulp的静态网页生成器；适用于简单官网的快速搭建" />
<link rel="icon" type="image/png" href="/img/logo.png" sizes="32x32" />
<link rel="apple-touch-icon" href="/img/logo.png">
<link rel="stylesheet" href="./css/vendor/normalize.css">
<link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/main.min.css">